Validating iSCSI node names (IQNs)

Hi All:

A recent bug submission pointed out to me that our initiatorname is not validated. All we do is take everything ASCII up to the next NULL character in the registration scheme.

This can present a security hole, since IQNs like "../../some-path" can currently be used.

I believe the IQN should be "validated" before being accepted by iscsid, and it would fix this issue. The question is how much validation should be done.

My first pass just disables illegal characters, as defined by RFC 3722, Section 6.2:

```
The following characters MUST NOT be used in iSCSI names:

      0000-002C; [ASCII CONTROL CHARACTERS and SPACE through ,]
      002F; [ASCII /]
      003B-0040; [ASCII ; through @]
      005B-0060; [ASCII [ through `]
      007B-007F; [ASCII { through DEL]

```
This alone would eliminate badly-formed IQNs of the form "../../../root-node", since both the forward and reverse slash characters are not allowed.

It seems like this is a "good thing", and I have little worry this will break many uses, if any.

In the process of researching what characters are allowed in an IQN, I was kind of amazed that open-iscsi has never validated anything about the IQN! Looking at the kernel target code, it indeed validates IQNs for some things ...

Should I add a check that the IQN starts with "iqn."? Or should I stop at validating the characters?

I think validating the chars is good idea. I think the chance for regression will be very low and as you wrote it's good security wise.

I'm not sure about the iqn part or validating the exact format. The issue would be regressions and worst case they are doing iscsi root/boot so now their fleet would not boot after an upgrade. If it's not hurting anything at this point then I would not worry.

I like the idea.

> The issue would be regressions and worst case they are doing iscsi root/boot so now their fleet would not boot after an upgrade.

Maybe throw a warning for a few releases, then enforce later?

Please see pull request #535 

> I like the idea.
> 
> > The issue would be regressions and worst case they are doing iscsi root/boot so now their fleet would not boot after an upgrade.
> 
> Maybe throw a warning for a few releases, then enforce later?

Throwing a warning isn't sufficient for some of the "bad" characters in an IQN, such as "/" and "\", since both could be used to create path names that might jail-break out of the database directory.

> I think validating the chars is good idea. I think the chance for regression will be very low and as you wrote it's good security wise.
> 
> I'm not sure about the iqn part or validating the exact format. The issue would be regressions and worst case they are doing iscsi root/boot so now their fleet would not boot after an upgrade. If it's not hurting anything at this point then I would not worry.

Agree. Thanks Mike. There are a *bunch* of different legal IQNs, and I really didn't want to go down that road.